<a href="https://colab.research.google.com/github/Harini-1109/Mentalhealth/blob/main/Mentalhealth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import pandas as pd

# Set the file path (modify it if needed for local access)
file_path = "Mental-health-related-subreddits.csv"

# Load the CSV file
df = pd.read_csv(file_path)

# Show basic info
print("Initial Data Overview:")
print(df.info())

C:\Users\harin\AppData\Local\Temp\ipykernel_2820\2127056190.py:8: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Initial Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488738 entries, 0 to 488737
Data columns (total 79 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Title        488608 non-null  object
 1   Text         488573 non-null  object
 2   Subreddit    488535 non-null  object
 3   Unnamed: 3   66 non-null      object
 4   Unnamed: 4   60 non-null      object
 5   Unnamed: 5   49 non-null      object
 6   Unnamed: 6   41 non-null      object
 7   Unnamed: 7   39 non-null      object
 8   Unnamed: 8   31 non-null      object
 9   Unnamed: 9   27 non-null      object
 10  Unnamed: 10  19 non-null      object
 11  Unnamed: 11  13 non-null      object
 12  Unnamed: 12  11 non-null      object
 13  Unnamed: 13  10 non-null      object
 14  Unnamed: 14  9 non-null       object
 15  Unnamed: 15  8 non-null       object
 16  Unnamed: 16  6 non-null       object
 17  Unnamed: 17  6 non-null       object
 18  Unnamed: 18  5 non-null       object
 19  Unnamed: 19  3 non-null       object
 20  Unnamed: 20  3 non-null       object
 21  Unnamed: 21  1 non-null       object
 22  Unnamed: 22  1 non-null       object
 23  Unnamed: 23  1 non-null       object
 24  Unnamed: 24  1 non-null       object
 25  Unnamed: 25  1 non-null       object
 26  Unnamed: 26  1 non-null       object
 27  Unnamed: 27  1 non-null       object
 28  Unnamed: 28  1 non-null       object
 29  Unnamed: 29  1 non-null       object
 30  Unnamed: 30  1 non-null       object
 31  Unnamed: 31  1 non-null       object
 32  Unnamed: 32  1 non-null       object
 33  Unnamed: 33  1 non-null       object
 34  Unnamed: 34  1 non-null       object
 35  Unnamed: 35  1 non-null       object
 36  Unnamed: 36  1 non-null       object
 37  Unnamed: 37  1 non-null       object
 38  Unnamed: 38  1 non-null       object
 39  Unnamed: 39  1 non-null       object
 40  Unnamed: 40  1 non-null       object
 41  Unnamed: 41  1 non-null       object
 42  Unnamed: 42  1 non-null       object
 43  Unnamed: 43  1 non-null       object
 44  Unnamed: 44  1 non-null       object
 45  Unnamed: 45  1 non-null       object
 46  Unnamed: 46  1 non-null       object
 47  Unnamed: 47  1 non-null       object
 48  Unnamed: 48  1 non-null       object
 49  Unnamed: 49  1 non-null       object
 50  Unnamed: 50  1 non-null       object
 51  Unnamed: 51  1 non-null       object
 52  Unnamed: 52  1 non-null       object
 53  Unnamed: 53  1 non-null       object
 54  Unnamed: 54  1 non-null       object
 55  Unnamed: 55  1 non-null       object
 56  Unnamed: 56  1 non-null       object
 57  Unnamed: 57  1 non-null       object
 58  Unnamed: 58  1 non-null       object
 59  Unnamed: 59  1 non-null       object
 60  Unnamed: 60  1 non-null       object
 61  Unnamed: 61  1 non-null       object
 62  Unnamed: 62  1 non-null       object
 63  Unnamed: 63  1 non-null       object
 64  Unnamed: 64  1 non-null       object
 65  Unnamed: 65  1 non-null       object
 66  Unnamed: 66  1 non-null       object
 67  Unnamed: 67  1 non-null       object
 68  Unnamed: 68  1 non-null       object
 69  Unnamed: 69  1 non-null       object
 70  Unnamed: 70  1 non-null       object
 71  Unnamed: 71  1 non-null       object
 72  Unnamed: 72  1 non-null       object
 73  Unnamed: 73  1 non-null       object
 74  Unnamed: 74  1 non-null       object
 75  Unnamed: 75  1 non-null       object
 76  Unnamed: 76  1 non-null       object
 77  Unnamed: 77  1 non-null       object
 78  Unnamed: 78  1 non-null       object
dtypes: object(79)
memory usage: 294.6+ MB
None

In [ ]:
# Show the first few rows
print("\nSample Data:")
print(df.head())

Sample Data:
                                               Title  \
0                            exposure does not work!
1  Panic attack? derealization? can't go to docto...
2                 How long can a panic attack last?!
3                                    Stepping stones
4  Coping with anxiety over climate change, on th...

                                                Text Subreddit Unnamed: 3  \
0  I have struggled with social anxiety from chil...   Anxiety        NaN
1  Back in March (I know, a while ago D:), I woke...   Anxiety        NaN
2  I've been withdrawing from medicines lately (e...   Anxiety        NaN
3  First time poster, long time lurker. \n\nI've ...   Anxiety        NaN
4  Hi all,\n\nI made a throwaway account as my ma...   Anxiety        NaN

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2        NaN        NaN        NaN        NaN        NaN        NaN  ...
3        NaN        NaN        NaN        NaN        NaN        NaN  ...
4        NaN        NaN        NaN        NaN        NaN        NaN  ...

  Unnamed: 69 Unnamed: 70 Unnamed: 71 Unnamed: 72 Unnamed: 73 Unnamed: 74  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 75 Unnamed: 76 Unnamed: 77 Unnamed: 78
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 79 columns]

In [ ]:
df.dropna()